<?xml version="1.0" encoding="UTF-8"?>
<WEBB>

  <SALVA_CAIXA valor="SIM" />
  <Obsoleto valor="false" />

  <!-- CONFIGURACOES DE APLICACAO -->
  <Dominio valor="CORP" />
  <Servidor valor="x"/>
  <Usuario valor="x" />
  <Senha valor="x==" />
  <Banco valor="x" />

  <CAMINHO_LOG valor="c:\TEMP" />

</WEBB>
